# .gitignore
# Rust
/target/
**/*.rs.bk

# Tauri build artifacts
src-tauri/target/
src-tauri/**/dist/

# Node
node_modules/
dist/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/

# Editor/OS
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Env
.env
.env.*
Chat.*
CLAUDE.*
Claude.*
.warp.*
chatlog.*
Just-Personal*
Schuelerbeobachtung_0.1.0_amd64_NO-CRYPTO.deb
Claude copy.md
CLDBCK.md
Xcdoe-CLI-SDK/Command_Line_Tools_for_Xcode_11.2.dmg
Xcdoe-CLI-SDK/Command_Line_Tools_for_Xcode_11.3.1.dmg
Xcdoe-CLI-SDK/Command_Line_Tools_for_Xcode_11.5.dmg
Xcdoe-CLI-SDK/Command_Line_Tools_for_Xcode_16.2.dmg
